* {
  background-color: #f8f9fa;
}

.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  height: 100vh;
}

.chart-container {
  margin: 20px 0;
}

.highlights-section {
  display: flex;
  justify-content: center;
  gap: 40px;
}